<h2>Add User</h2>
<div class="container-lg">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
            <label for="customerid">Customer Id</label>
            <select class="form-control" id="customerid" formControlName="customerid">
                <option *ngFor="let customers of customerList" [value]=customers.customerid>
                    {{customers.customerid}}

                </option>
            </select>

        </div>

        <div class="formGroup">
            <label for="id"> Id</label>
            <input class="form-control" id="id" formControlName="id">
        </div>
        <div class="formGroup">
            <label for="firstname">First Name</label>
            <input class="form-control" id="firstname" formControlName="firstname">
            <div *ngIf="userForm.controls['firstname'].invalid &&(userForm.controls['firstname'].dirty|| userForm.controls['firstname'].touched)"
                class="alert">
                <div *ngIf="userForm.controls['firstname'].errors?.['required']">
                    *First Name is Required!
                </div>
                <div *ngIf="userForm.controls['firstname'].errors?.['minlength']">
                    *First Name should be atleast 3 characters long!
                </div>
            </div>


            <div class="formGroup">
                <label for="middlename">Middle Name</label>
                <input class="form-control" id="middlename" formControlName="middlename">
                <div *ngIf="userForm.controls['middlename'].invalid &&(userForm.controls['middlename'].dirty|| userForm.controls['middlename'].touched)"
                    class="alert">

                    <div *ngIf="userForm.controls['middlename'].errors?.['minlength']">
                        *Last Name should be atleast 3 characters long!
                    </div>
                </div>
            </div>

            <div class="formGroup">
                <label for="lastname">Last Name</label>
                <input class="form-control" id="lastname" formControlName="lastname">
                <div *ngIf="userForm.controls['lastname'].invalid &&(userForm.controls['lastname'].dirty|| userForm.controls['lastname'].touched)"
                    class="alert">
                    <div *ngIf="userForm.controls['lastname'].errors?.['required']">
                        *Last Name is Required!
                    </div>
                    <div *ngIf="userForm.controls['lastname'].errors?.['minlength']">
                        *Last Name should be atleast 3 characters long!
                    </div>
                </div>

                <div class="formGroup">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" formControlName="email">
                    <div *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="userForm.controls['email'].errors?.['required']">
                            *Email is required!
                        </div>
                    </div>
                </div>

                <div class="formGroup">
                    <label for="phone">Phone</label>
                    <input class="form-control" id="phone" formControlName="phone">
                    <div *ngIf="userForm.controls['phone'].invalid && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="userForm.controls['phone'].errors?.['required']">
                            *Phone Number is required.
                        </div>
                        <div *ngIf="userForm.controls['phone'].errors?.['pattern']">
                            *Phone Number must be 10 digits
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="roleName">Role</label>
                    <select class="form-control" id="roleName" formControlName="roleName">
                        <option *ngFor="let roles of roleList" [value]=roles.name>
                            {{roles.name}}
                        </option>
                    </select>

                    <div *ngIf="userForm.controls['roleName'].errors?.['required']">
                        *Role is required!
                    </div>

                </div>
                <div class="form-group">
                    <label for="customerName">Customer Name</label>
                    <select class="form-control" id="customerName" formControlName="customerName">
                        <option *ngFor="let customers of customerList" [value]=customers.name>
                            {{customers.name}}

                        </option>
                    </select>
                    <div *ngIf="userForm.controls['customerName'].errors?.['required']">
                        *Customer Name is required!
                    </div>
                </div>

                <div class="formGroup">
                    <label for="address">Address </label>
                    <input class="form-control" id="address" formControlName="address">
                    <div *ngIf="userForm.controls['address'].invalid && (userForm.controls['address'].dirty || userForm.controls['address'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="userForm.controls['address'].errors?.['required']">
                            *Address is required!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
    </form>
</div>